<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firedevz.sistemadegestaofinanceira">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.InicioActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResetSenha" />
        <activity android:name=".activity.RegistarActivity" />
        <activity android:name=".LoginFacebook" />
        <activity android:name=".LoginGmail" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.ActivityVendas"
            android:label="@string/title_activity_vendas" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProducaoActivity"
            android:label="@string/title_activity_producao" />
        <activity
            android:name=".Entradas"
            android:label="@string/title_activity_entradas" />
        <activity
            android:name=".activity.RendimentosActivity"
            android:label="@string/title_activity_rendimentos" />
        <activity
            android:name=".activity.EfectuarVendasActivity"
            android:label="@string/title_activity_efectuar_vendas" />
        <activity
            android:name=".activity.ActivityFornecedores"
            android:label="Fornecedores" />
        <activity
            android:name=".activity.activityListaProdutos"
            android:label="@string/title_activity_lista_produtos" />
        <activity
            android:name=".activity.ActivityListaContas"
            android:label="Contas" />
        <activity
            android:name=".activity.ActivityListaClientes"
            android:label="Clientes" />
        <activity
            android:name=".activity.ActivityListaDespesa"
            android:label="Despesas" />
        <activity
            android:name=".activity.ActivityRelatorios"
            android:label="Relatorios" />
        <activity
            android:name=".activity.ActivityFundos"
            android:label="@string/title_activity_fundos" />
        <activity
            android:name=".activity.ActivityRelatorioRendimentos"
            android:label="Relatorio Rendimento" />
        <activity android:name=".activity.VendasPendentesActivity" />
        <activity
            android:name=".activity.RequisicoesActivity"
            android:label="@string/title_activity_requisicoes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities20.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities20.ProducaoActivity"
            android:label="@string/title_activity_producao"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>